<snippet>
    <content><![CDATA[
<meta name="viewport" content="width=device-width, initial-scale=1.0">
]]></content>
    <tabTrigger>meta-viewport</tabTrigger>
    <scope>text.html,text.html.django</scope>
</snippet>
